{% extends 'adminlte/base.html' %}
{% block content %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Products</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Products</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
    
    <!-- /.modal add -->
    <div class="modal fade" id="add-product">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Add Product</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form class="form-horizontal" method="post">{% csrf_token %}
              <div class="form-group row">
                <label for="name" class="col-sm-3 col-form-label">Name</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" name="name" id="name" placeholder="Name">
                </div>
              </div>
              <div class="form-group row">
                <label for="category" class="col-sm-3 col-form-label">Category</label>
                <div class="col-sm-9">
                  <select name="category" id="category" class="form-control custom-select">
                    <option selected disabled>Select one</option>
                    {% for category in categories %}
                    <option value="{{category.id}}">{{category.name}}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label for="manufacturer" class="col-sm-3 col-form-label">Manufacturer</label>
                <div class="col-sm-9">
                  <select name="manufacturer" id="manufacturer" class="form-control custom-select">
                    <option selected disabled>Select one</option>
                    {% for manufacturer in manufacturers %}
                    <option value="{{manufacturer.id}}">{{manufacturer.name}}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label for="unit" class="col-sm-3 col-form-label">Unit</label>
                <div class="col-sm-9">
                  <input type="number" class="form-control" name="unit" id="unit" placeholder="Unit">
                </div>
              </div>
              <div class="form-group row">
                <label for="price" class="col-sm-3 col-form-label">Price</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" name="price" id="price" placeholder="Price">
                </div>
              </div>
              <div class="form-group row">
                <div class="offset-sm-3 col-sm-9">
                  <button type="submit" class="btn btn-info">Add</button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- /.col -->
          <!-- /.col -->
          <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                  <h3 class="card-title">Products table</h3>
  
                  <div class="card-tools">
                    <div class="input-group input-group-sm" style="width: 185px;">
                      <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#add-product">
                        <i class="fa fa-plus"></i>
                      </button>&nbsp;
                      <input type="text" name="table_search" class="form-control float-right" placeholder="Search">
  
                      <div class="input-group-append">
                        <button type="submit" class="btn btn-default">
                          <i class="fas fa-search"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body table-responsive p-0">
                  <table class="table table-hover text-nowrap">
                    <thead>
                      <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Category</th>
                        <th>Manufacturer</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for product in products %}
                      <tr>
                        <!-- /.modal view -->
                        <div class="modal fade" id="view-product-{{product.id}}">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h4 class="modal-title">View Product</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                <form class="form-horizontal">
                                  <div class="form-group row">
                                    <label for="name" class="col-sm-3 col-form-label">Name</label>
                                    <div class="col-sm-9">
                                      <input type="text" class="form-control" name="name" id="name" value="{{product.name}}" readonly>
                                    </div>
                                  </div>
                                  <div class="form-group row">
                                    <label for="category" class="col-sm-3 col-form-label">Category</label>
                                    <div class="col-sm-9">
                                      <select name="category" id="category" class="form-control custom-select">
                                        <option selected disabled >{{product.category}}</option>
                                      </select>
                                    </div>
                                  </div>
                                  <div class="form-group row">
                                    <label for="manufacturer" class="col-sm-3 col-form-label">Manufacturer</label>
                                    <div class="col-sm-9">
                                      <select name="manufacturer" id="manufacturer" class="form-control custom-select">
                                        <option selected disabled>{{product.manufacturer}}</option>
                                      </select>
                                    </div>
                                  </div>
                                  <div class="form-group row">
                                    <label for="unit" class="col-sm-3 col-form-label">Unit</label>
                                    <div class="col-sm-9">
                                      <input type="number" class="form-control" name="unit" id="unit" value="{{product.unit}}" readonly>
                                    </div>
                                  </div>
                                  <div class="form-group row">
                                    <label for="price" class="col-sm-3 col-form-label">Price</label>
                                    <div class="col-sm-9">
                                      <input type="text" class="form-control" name="price" id="price" value="${{product.price}}" readonly>
                                    </div>
                                  </div>
                                  <div class="form-group row">
                                    <label for="added" class="col-sm-3 col-form-label">Added</label>
                                    <div class="col-sm-9">
                                      <input type="text" class="form-control" name="added" id="added" value="{{product.created_at}}" readonly>
                                    </div>
                                  </div>
                                  <div class="form-group row">
                                    <label for="updated_at" class="col-sm-3 col-form-label">Updated</label>
                                    <div class="col-sm-9">
                                      <input type="text" class="form-control" name="updated_at" id="updated_at" value="{{product.updated_at}}" readonly>
                                    </div>
                                  </div>
                                </form>
                              </div>
                            </div>
                            <!-- /.modal-content -->
                          </div>
                          <!-- /.modal-dialog -->
                        </div>
                        <!-- /.modal -->
                        <!-- /.modal edit -->
                        <div class="modal fade" id="edit-product-{{product.id}}">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h4 class="modal-title">Edit Product</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                <form class="form-horizontal" action="{% url 'edit-product' %}" method="post">{% csrf_token %}
                                  <div class="form-group row">
                                      <input type="text" hidden class="form-control" name="id" id="id" value="{{product.id}}">
                                      <label for="name" class="col-sm-3 col-form-label">Name</label>
                                    <div class="col-sm-9">
                                      <input type="text" class="form-control" name="name" id="name" value="{{product.name}}">
                                    </div>
                                  </div>
                                  <div class="form-group row">
                                    <label for="category" class="col-sm-3 col-form-label">Category</label>
                                    <div class="col-sm-9">
                                      <select name="category" id="category" class="form-control custom-select">
                                        <option selected value="{{product.category_id}}">Selected - {{product.category}}</option>
                                        {% for category in categories %}
                                        <option value="{{category.id}}">{{category.name}}</option>
                                        {% endfor %}
                                      </select>
                                    </div>
                                  </div>
                                  <div class="form-group row">
                                    <label for="manufacturer" class="col-sm-3 col-form-label">Manufacturer</label>
                                    <div class="col-sm-9">
                                      <select name="manufacturer" id="manufacturer" class="form-control custom-select">
                                        <option selected value="{{product.manufacturer_id}}">Selected - {{product.manufacturer}}</option>
                                        {% for manufacturer in manufacturers %}
                                        <option value="{{manufacturer.id}}">{{manufacturer.name}}</option>
                                        {% endfor %}
                                      </select>
                                    </div>
                                  </div>
                                  <div class="form-group row">
                                    <label for="unit" class="col-sm-3 col-form-label">Unit</label>
                                    <div class="col-sm-9">
                                      <input type="number" class="form-control" name="unit" id="unit" value="{{product.unit}}">
                                    </div>
                                  </div>
                                  <div class="form-group row">
                                    <label for="price" class="col-sm-3 col-form-label">Price</label>
                                    <div class="col-sm-9">
                                      <input type="text" class="form-control" name="price" id="price" value="{{product.price}}">
                                    </div>
                                  </div>
                                  <div class="form-group row">
                                    <div class="offset-sm-3 col-sm-9">
                                      <button type="submit" class="btn btn-info">Save</button>
                                    </div>
                                  </div>
                                </form>
                              </div>
                            </div>
                            <!-- /.modal-content -->
                          </div>
                          <!-- /.modal-dialog -->
                        </div>
                        <!-- /.modal -->
                        <!-- /.modal delete -->
                        <div class="modal fade" id="delete-product-{{product.id}}">
                          <div class="modal-dialog">
                            <div class="modal-content bg-danger">
                              <div class="modal-header">
                                <h4 class="modal-title">Delete Product</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                <form class="form-horizontal" action="{% url 'delete-product' %}" method="post">{% csrf_token %}
                                  <div class="form-group row">
                                    <label for="name" class="col-sm-3 col-form-label">Name</label>
                                    <div class="col-sm-9">
                                      <input type="text" readonly class="form-control" name="name" id="name" value="{{product.name}}">
                                      <input type="text" hidden class="form-control" name="id" id="id" value="{{product.id}}">
                                    </div>
                                  </div>
                                  <div class="form-group row">
                                    <div class="offset-sm-3 col-sm-9">
                                      <button type="submit" class="btn btn-outline-light">Delete</button>
                                    </div>
                                  </div>
                                </form>
                              </div>
                            </div>
                            <!-- /.modal-content -->
                          </div>
                          <!-- /.modal-dialog -->
                        </div>
                        <!-- /.modal -->
                        <td>{{product.id}}</td>
                        <td>{{product.name}}</td>
                        <td>{{product.category}}</td>
                        <td>{{product.manufacturer}}</td>
                        <td>{{product.unit}}</td>
                        <td>${{product.price}}</td>
                        <td>
                          <a class="btn btn-primary btn-sm" data-toggle="modal" data-target="#view-product-{{product.id}}"><i class="fa fa-eye"></i> </a>
                          <a class="btn btn-primary btn-sm" data-toggle="modal" data-target="#edit-product-{{product.id}}"><i class="fa fa-pen"></i> </a>
                          {% if role == 1 %}
                          <a class="btn btn-sm btn-danger" data-toggle="modal" data-target="#delete-product-{{product.id}}"><i class="fa fa-trash"></i></a>
                          {% endif %}
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
          </div>
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
{% endblock %}

